<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1><a id="back-to-top" href="#go-to-top">TECHIFY</a></h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p><a href="https://github.com/KushalBhanot/Techify/blob/master/LICENSE">GNU General Public License
                        v3.0</a></p>
                <p>&#169; Techify - 2020</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://github.com/KushalBhanot/Techify">
                    <i class="fab fa-github fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
    
    </body>

</html>